<h1>Mineração de dados</h1>

<%- params[:q] ||= {} %>

<%= search_form_for @q, url: [:audits] do |f| %>
  <%= f.label :electoral_sections_state_eq %>
  <%= f.select :electoral_sections_state_eq, @states, selected: params[:q][:electoral_sections_state_eq] %>
  <%= f.label :electoral_sections_zone_eq %>
  <%= f.select :electoral_sections_zone_eq, @zones, selected: params[:q][:electoral_sections_zone_eq] %>
  <%= f.label :candidate_id_eq %>
  <%= f.select :candidate_id_eq, options_from_collection_for_select(@candidates, :id, :name,params[:q][:candidate_id_eq]) %>
  <%= f.submit 'Auditar' %>
<% end %>

<% unless params[:q].blank? %>
  <%- @audits.dbscan.clusters.each do |cluster,val| %>
    <% next if val.first.blank? %>
    <%= cluster %>
    <% val.each do |v| %>
      <%= v.items.to_s + '%' %>
    <% end %>
    <br>
  <% end %>
  <%= pie_chart @audits.dbscan.clusters.collect{|key,val| { key => val.count} }.inject(:merge)  %>
<% end %>