<h1>Boletim de Urna</h1>
<% old_electoral_section = 0 %>
<table class='table'>
  <tr>
    <th>Candidato </th>
    <th>Zona</th>
    <th>Sessão</th>
    <th>Quantidade de Votos</th>
    <th>Número de Votos</th>
    <th>Total de Votantes</th>
  <tr>
<% @bus.each do |bu| %>
  <% if old_electoral_section != bu.electoral_section_id %>
    <tr><td><br></td></tr>
  <% end %>
  <% old_electoral_section = bu.electoral_section_id %>
  <tr>
    <td><%= bu.candidate.name %></td>
    <td class='center'><%= bu.electoral_section.zone %></td>
    <td class='center'><%= bu.electoral_section.section %></td>
    <td class='center'><%= bu.vote_amount %></td>
    <td class='center'><%= bu.electoral_section.elections_electoral_section.number_of_voters_appeared %></td>
    <td class='center'><%= bu.electoral_section.elections_electoral_section.number_of_voters %></td>
    <td><%= link_to 'edit', edit_bu_path(bu.id) %></td>
  </tr>
<% end %>
