<% percent = (@results.size*100)/@audit["total"] %>

<% if percent < 100 %>
  <div class="progress" style='width: 30%;'>
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
      <%= @results.size.to_s + '/' + @audit["total"].to_s %> - <%= percent %>%
    </div>
  </div>
<% else %>
  Total: <%= @audit["total"] %>
<% end %>