<h1>Mineração de dados</h1>

<%=form_for :audit  do |f| %>
  <%= f.select :state, @states, selected: nil, prompt:"Selecione o Estado" %>
  <%= f.select :city, [], disable:true, prompt:"Selecione a Cidade" %>

  <%= f.submit 'Auditar' %>
<% end %>

<br>
<% @process.each do |p| %>
  <%= link_to district_audit_path(p[:id]) do %>
    <%= p["params"]["state"] %> - <%= p["params"]["city"] %>
  <% end %>
  <br>
<% end %>
