
<h3>
<%= @audit["params"]["state"] %> - <%= @audit["params"]["city"] %>
</h3>

<%= render 'total_audit' %>

<br>
<div>
  <% @results.each do |result| %>

    <div class="panel panel-default">
      <div class="panel-heading"><%= result["district"] %></div>
        <div class="list-group">

          <%- result["candidates"].each do |candidate| %>
            <% div_id = Digest::MD5.hexdigest(candidate["candidate_name"]+result["district"]) %>
            <a href="#<%= div_id %>" class="list-group-item" data-toggle="collapse" data-parent="#accordion">
              <span class="badge"><%= candidate["groups"].try(:size).to_i %></span>
              <%= candidate["candidate_name"] %>
            </a>
            <% if candidate["groups"] %>
              <div id="<%= div_id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <% candidate["groups"].each do |group|%>
                    <%- group.each do |k,v| %>
                      <div class="panel panel-default">
                        <div class="panel-heading">Grupo <%= k %></div>
                        <div class="panel-body">
                          <%= v.collect{|a| "<li>zona: "+a["zone"]+" "+"sessão: "+a["section"]+" "+"Percentual de voto: "+a["calculated"].to_s+'%</li>' }.join("<br>").html_safe %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

    </div>

  <% end %>
</div>
