<h3>
  <%= @audit["params"]["state"] %> - <%= @audit["params"]["city"] %>
</h3>

<%= render 'total_audit' %>

<table class="table table-bordered" style='width: 40%;'>
  <tr>
    <th>Bairros</th>
    <% @candidates.each do |candidate| %>
      <th><%= candidate["candidate_name"] %></th>
    <% end %>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result["district"] %></td>
      <% @candidates.each do |candidate| %>
        <th><%= result["candidates"].select{|c| c["candidate_name"] == candidate["candidate_name"] }[0]["groups"].try(:size).to_i  %></th>
      <% end %>
    </tr>
  <% end %>
</table>