<h1>Listing boletim_urnas</h1>

  <% @boletim_urnas.collect(&:numero_de_urna_efetivada).uniq.each do |boletim_urna| %>
  <% urnas = @boletim_urnas.select{|urna| urna.numero_de_urna_efetivada == boletim_urna } %>
    <%= boletim_urna %>
    <%= urnas.last.nome_municipio %>
    Zona: <%= urnas.last.numero_zona %>
    Seção: <%= urnas.last.numero_secao %>
    Quantidade de Comparecimento: <%= urnas.last.quantidade_comparecimento %>
    <%= pie_chart urnas.map{|urna| [urna.nome_do_votavel, urna.quantidade_de_votos] } %>
  <% end %>
<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @boletim_urnas.each do |boletim_urna| %>
      <tr>
        <td><%#= boletim_urna.numero_de_urna_efetivada %></td>
        <td><%#= boletim_urna.nome_municipio %></td>
        <td><%#= boletim_urna.numero_zona %></td>
        <td><%#= boletim_urna.numero_secao %></td>
        <td><%#= boletim_urna.nome_do_votavel %></td>
        <td><%#= boletim_urna.quantidade_de_votos %></td>
        <!-- <td><%#= link_to 'Show', boletim_urna %></td>
        <td><%#= link_to 'Edit', edit_boletim_urna_path(boletim_urna) %></td>
        <td><%#= link_to 'Destroy', boletim_urna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Boletim urna', new_boletim_urna_path %>
 -->
