/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= bootstrap
 *= require_self
 *= require select2
 *= require_tree .
 */

 @import "bootstrap";

 .center {
   text-align: center;
 }

.body {
  margin-left: 30px;
  margin-right: 30px;
}


div.panel-body li {
  display: inline-block;
  width: 33%;
}