<!DOCTYPE html>
<html>
<head>
  <title>ProjetoFinal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller= "<%= controller.controller_name %>" data-action= "<%= controller.action_name %>" class="body" >

  <%= yield %>

</body>
</html>
